section(class="canvas section-2" id="section-2")

    h2 Portfolio

    div(class="content")

        div

            article

                h2 Pet Pillbox
                p.
                    Full-stack web app for tracking pet medications. Frontend built with React,
                    user-authenticated and hosted with Firebase.  Backend built with C#, Microsoft SQL,
                    and hosted with Azure. GitHub project planning and version control.
                a(href=url || 'https://github.com/bwhitworth/pet-pillbox') GitHub Repo

        div

            //- img(src="images/home/section-1/_inline/Re_visit.jpg" inline)

            article

                h2 RE:visit
                p.
                    Frontend-focused web app to capture and organize vacation memories. 
                    Frontend created with React.  Backend data managed with Firebase.
                    GitHub project planning and version control.
                a(href=url || 'https://github.com/bwhitworth/re-visit') GitHub Repo


    +nav-1({ target: "section-3", direction: "next" })
