section(class="canvas section-3" id="section-3")

    h2 Contact

    div(class="content")

        div
            figure
                a(href='https://www.linkedin.com/in/bethanyjwhitworth/')
                    svg: use(xlink:href="/assets/images/_sprites/symbols.svg#linkedin")

        div
            figure
                a(href='https://www.github.com/bwhitworth')
                    svg: use(xlink:href="/assets/images/_sprites/symbols.svg#github")
