section(class="canvas section-1" id="section-1")

    h2 About Me

    div(class="content")

        div

            img(src="images/home/section-1/_inline/smallBeth.png" inline)

            article

                h2 About Me

                p.
                    Full stack Junior Developer
                p.
                    Professional history in healthcare administration and billing

    +nav-1({ target: "section-2", direction: "next" })
